fieldset {
  margin: 12px;
  padding: 12px;
  text-align: left;
  background-color: #f7f7f7;
}

/*=============================================
=            Custom checkbox and radio       =
=============================================*/
input[type=checkbox], input[type=radio] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] + label, input[type=radio] + label {
  position: relative;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 15px;
}
input[type=checkbox] + label:before, input[type=checkbox] + label:after, input[type=radio] + label:before, input[type=radio] + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: -23px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}
input[type=checkbox] + label:before, input[type=radio] + label:before {
  background-color: #f2f2f2;
  border: 1px solid #0a7bc3;
}
input[type=checkbox] + label:after, input[type=radio] + label:after {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}
input[type=checkbox] + label:hover, input[type=radio] + label:hover {
  color: #0a7bc3;
}
input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  background-color: transparent;
  border-color: #0a7bc3;
}
input[type=checkbox]:not(:disabled) + label:hover:before, input[type=radio]:not(:disabled) + label:hover:before {
  border-color: #0a7bc3;
}
input[type=checkbox]:focus + label:before, input[type=radio]:focus + label:before {
  border-color: #0a7bc3;
}
input[type=checkbox]:disabled + label, input[type=checkbox]:disabled + label:before, input[type=radio]:disabled + label, input[type=radio]:disabled + label:before {
  opacity: 0.5;
}

input[type=radio] + label:before {
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #f2f2f2;
}
input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 3px #f2f2f2;
  background-color: #0a7bc3;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type=checkbox] + label:before {
  border-radius: 0;
}
input[type=checkbox]:checked + label:after {
  content: "\2714";
  color: #0a7bc3;
  text-align: center;
  line-height: 18px;
  font-size: 15px;
  margin-left: 1px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*=====  Custom checkbox and radio  ======*/
